*,
*:before,
*:afetr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient( 135deg, #22c4ecea, #3cd2ec64);
}


/* Alinhamento dos forms */

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
}


/* Seguro o form para criar uma nova tarefa */

#novaTarefa {
    background-color: #fff;
    position: relative;
    min-width: 500px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


/* Foco do input nova tarefa  */

#novaTarefa input:focus {
    outline-color: rgba(0, 0, 0, 0.3);
}


/* Input pra pegar dados da tarefa */

#novaTarefa input {
    width: 70%;
    height: 20px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    color: #111111;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    position: relative;
}


/* Botão de adicionar uma nova tarefa */

#novaTarefa button {
    position: relative;
    height: 40px;
    font-size: 15px;
    width: 20%;
    padding: 10px;
    float: right;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: #22c4ecea;
    color: #111111;
    font-weight: 600;
    cursor: pointer;
}


/* Segura todas as novas tarefas criadas */

#tarefas {
    background-color: #fff;
    position: relative;
    margin-top: 70px;
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


/* Div que segura cada nova tarefa */

.tarefasCriadas {
    height: 50px;
    padding: 5px 10px;
    margin-top: 15px;
    display: flex;
    border-bottom: 2px solid #d1d2d3;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}


/* Texto da nova tarefa inserida  */

.tarefasCriadas span {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


/* Botão de excluir tarefa criada */

.tarefasCriadas button {
    padding: 10px;
    background-color: #22c4ecea;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Marca a tarefa como finalizada */
.finalizada {
    text-decoration: line-through;
}